<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<bean id="m-knight"
		class="com.revature.class_reads.knights.MinstrelsyKnight">
		<constructor-arg index="0" ref="quest" />
		<constructor-arg index="1" ref="minstrel" />
	</bean>

	<bean id="b-knight"
		class="com.revature.class_reads.knights.BraveKnight">
		<constructor-arg ref="quest" />
	</bean>

	<bean id="quest"
		class="com.revature.class_reads.knights.SlayDragonQuest" />

	<bean id="minstrel"
		class="com.revature.class_reads.knights.ObjectMinstrel" />

	<bean id="aop-minstrel"
		class="com.revature.class_reads.knights.AspectMinstrel" />

	<aop:config>
		<aop:aspect ref="aop-minstrel">
			<aop:pointcut id="embark"
				expression="execution(* *.embarkOnQuest(..))" />
			<aop:before pointcut-ref="embark" method="singBeforeQuest" />
			<aop:after pointcut-ref="embark" method="singAfterQuest" />
		</aop:aspect>
	</aop:config>

</beans>
